/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 11, assetic_compassmnVCuS.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../usr/local/rvm/gems/ruby-1.9.3-p551@global/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 12, assetic_compassmnVCuS.scss */
body header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 150px;
  background-color: #FFB870;
  color: white;
}
/* line 16, assetic_compassmnVCuS.scss */
body header h1#brand {
  width: 41.66667%;
  float: left;
  color: white;
  font-size: 60px;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin-left: 8.33333%;
  margin-top: 40px;
}
/* line 26, assetic_compassmnVCuS.scss */
body header nav {
  margin-top: 75px;
  float: right;
  width: 41.66667%;
  float: left;
  margin-right: 8.33333%;
}
/* line 31, assetic_compassmnVCuS.scss */
body header nav ul {
  width: 41.66667%;
  float: left;
  float: right;
}
/* line 34, assetic_compassmnVCuS.scss */
body header nav ul li {
  padding-left: 8.33333%;
  display: inline;
}
/* line 37, assetic_compassmnVCuS.scss */
body header nav ul li a {
  text-decoration: none;
  color: #1A120B;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
}
/* line 43, assetic_compassmnVCuS.scss */
body header nav ul li a strong {
  font-weight: 300;
}

/* line 1, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
div#company_baseline {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 120px;
  background-color: #FFEBD6;
}
/* line 5, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
div#company_baseline h2 {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  line-height: 120px;
  color: #FFB870;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

/* line 16, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
div#products {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8.33333%;
  padding-right: 8.33333%;
  height: 550px;
  background-color: #FFEBD6;
}
/* line 21, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
div#products div#product_list {
  margin-top: 0.1em;
  z-index: 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 31, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer {
  background: url("http://i1.wp.com/www.princanada.com/wp-content/uploads/2013/02/Heart_Shaped_Tuscan_Pizza_Insitu_m.jpg");
  background-color: beige;
  border: 1px solid #FFEBD6;
  height: 15em;
  margin-bottom: 0.1em;
}
/* line 37, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer h4 {
  margin: 0;
}
/* line 41, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer p {
  line-height: 1.5em;
}
@media screen and (min-width: 40em) {
  /* line 31, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
  .hover-tile-outer {
    width: 33.33333%;
    float: left;
  }
}
/* line 58, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile-container {
  height: 15em;
  overflow: hidden;
}
/* line 63, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile-container:hover > .hover-tile {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
/* line 67, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile {
  -webkit-transition: all, 0.4s ease-in-out;
  -moz-transition: all, 0.4s ease-in-out;
  transition: all, 0.4s ease-in-out;
  background: inherit;
  color: white;
  height: inherit;
  overflow: hidden;
}
/* line 75, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile-hidden {
  text-align: center;
  font-family: 'Roboto';
  font-color: #FFEBD6;
  background: rgba(0, 0, 0, 0.5);
}
/* line 82, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile-hidden p {
  color: rgba(255, 235, 214, 0.7);
  font-size: 11px;
  line-height: 18px;
  font-weight: 10;
}
/* line 90, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile-hidden #head h5 {
  padding-bottom: 0.3em;
}
/* line 93, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile-hidden #head h4 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2em;
  font-color: #FFEBD6;
  border: 1px solid #FFEBD6;
}
/* line 105, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile-hidden a {
  margin-top: 2em;
  text-align: center;
  font-color: #FFEBD6;
}
/* line 109, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
.hover-tile-outer .hover-tile-hidden a #plus {
  text-align: center;
  color: #FFEBD6;
}

/* line 118, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#shoppingCart {
  background-color: #FFEBD6;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8.33333%;
  padding-right: 8.33333%;
  height: 500px;
}

/* line 125, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#stripe {
  background-color: #FFD6AD;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8.33333%;
  padding-right: 8.33333%;
  height: 40px;
}

/* line 133, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#heading {
  font-family: 'Roboto';
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 136, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#heading h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: 100;
  margin-left: 29.16667%;
  margin-right: 29.16667%;
  width: 41.66667%;
  float: left;
  text-align: center;
  border: 1px solid #FFB870;
  color: #FFB870;
}

/* line 149, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto';
}
/* line 152, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items {
  margin-left: 29.16667%;
  margin-right: 29.16667%;
  width: 41.66667%;
  float: left;
  border-bottom: 1px solid #FFB870;
  border-right: 1px solid #FFB870;
  border-left: 1px solid #FFB870;
}
/* line 158, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items .item {
  padding-top: 2em;
  padding-bottom: 2em;
  font-weight: 100;
  border-bottom: 1px dotted #FFB870;
}
/* line 163, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items .item span.name {
  width: 41.66667%;
  float: left;
}
/* line 166, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items .item span.quantity {
  width: 25%;
  float: left;
}
/* line 169, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items .item span.total {
  width: 16.66667%;
  float: left;
}
/* line 172, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items .item a.remove {
  width: 16.66667%;
  float: left;
  color: #FFB870;
}
/* line 177, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items p {
  text-align: center;
  padding-top: 1em;
  font-weight: 100;
}
/* line 182, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items div#order {
  width: 50%;
  float: left;
}
/* line 184, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_body.scss */
#cart #items div#order a {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 87.5%;
  padding-right: 87.5%;
  text-align: center;
  padding-top: 2em;
  color: #FFB870;
  padding-bottom: 2em;
  font-weight: 500;
}

/* line 1, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer {
  width: 83.33333%;
  float: left;
  padding-left: 8.33333%;
  padding-right: 8.33333%;
  font-family: 'Roboto';
  background: #ffb76e;
  padding: 3em 1.618em;
  width: 100%;
}
/* line 14, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer ul {
  padding: 0;
}
/* line 18, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer li {
  list-style: none;
  line-height: 1.5em;
}
/* line 23, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer a {
  text-decoration: none;
}
/* line 37, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer .footer-logo {
  margin-bottom: 2em;
  text-align: center;
}
/* line 41, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer .footer-logo img {
  height: 3em;
}
/* line 46, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer .footer-links {
  margin-bottom: 1.5em;
}
/* line 20, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/bourbon/addons/_clearfix.scss */
.footer .footer-links::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 40em) {
  /* line 46, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
  .footer .footer-links {
    width: 66.66667%;
    float: left;
    margin-left: 25%;
  }
}
/* line 56, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer ul {
  margin-bottom: 3em;
}
@media screen and (min-width: 40em) {
  /* line 56, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
  .footer ul {
    width: 33.33333%;
    float: left;
    float: right;
    margin-right: 0;
  }
  /* line 20, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/bourbon/addons/_clearfix.scss */
  .footer ul::after {
    clear: both;
    content: "";
    display: table;
  }
}
/* line 66, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer li {
  text-align: center;
}
@media screen and (min-width: 40em) {
  /* line 66, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
  .footer li {
    text-align: left;
  }
}
/* line 74, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer li a {
  color: rgba(255, 255, 255, 0.4);
}
/* line 77, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer li a:focus, .footer li a:hover {
  color: white;
}
/* line 83, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer li h3 {
  color: white;
  font-size: 1em;
  font-weight: 800;
  margin-bottom: 0.4em;
}
/* line 90, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto 1.5em;
  width: 12em;
}
/* line 96, ../var/www/symfony/src/Pizza/shopBundle/Resources/assets/css/_footer.scss */
.footer p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.7em;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center;
  text-weight: 100;
}
